/* General */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
body {
    background-color: #e8e8e8;font-family: 'Montserrat', sans-serif; color:#6c6c6f;padding-bottom: 0 !important; direction: ltr; text-align: left;
    line-height:1;
}
body a:hover{text-decoration: none !important;}
/* End General */

/* Start Nabar */
.navbar {
    position: fixed;
    
    font-size: 12px;
    font-weight: bold;
    box-shadow: none;
    color: #FFF;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 1200;
    width: 100%;
    height: 50px;
    padding-top: 0.0rem;
    padding-right: 1rem;
    padding-bottom: 0.0rem;
    padding-left: 1rem;
}


nav .logo {
  position: relative;
  margin: auto;
}

.navbar .logo img {
    width: 50px;
    margin-right: 10px;
    height: 50px;
}

.navbar .logo span{
  font-size: 16px;
}

nav .logo {
  position: relative;
  margin: auto;
}

.navbar .main-menu-button {
  display: block;
  font-size: 18px;
  cursor: pointer;
  width: 50px;
}

.navbar .main-menu-button .x {
  display: none;
}
/* End Nabar */

.statis {
  margin-top: 60px;
}

.statis .main-list {
  position: relative;
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
}

    .statis .c-profile {
        position: relative;
        background-color: #FFF;
        padding: 20px;
        border: 1px solid #6c6c6f;
        border-radius: 10px;
        margin-top: 20px;
        width: 20%;
        float:left;
    }

.statis .c-profile img {
  width: 100%;
  margin-right: 20px;
  border: 1px solid #ddd;
}

.statis .c-profile .details {
  font-size: 14px;
}

.statis .c-profile .details span {

  font-weight: bold;
  display: inline-block;
  width: 100%;
}

.statis .main-list span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 300;
  background-color: #1ba8e5;
  height: 20px;
  border-radius: 10px 10px 0 0;
}

.statis .main-list label {
  margin-top: 20px;
  font-weight: bold;
}

.statis .info-block {
  position: relative;
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.statis .info-block span.flag {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  z-index: 310;
  width: 20px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.statis #statement span {
  color: #1ba8e5;
  font-weight: bold;
}

.statis .total-sign {
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.statis .total-sign p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.dark-blue {
  background-color: #2a3a92;
}

.normal-blue {
  background-color: #1d75b8;
}

.rose{
  background-color: #ff5d6f;
}

.orange{
  background-color: #ffb36b;
}

.green{
  background-color: #00cc9e;
}

.purble{
  background-color: #bc80ef;
}

.statis .info-block svg.purchase, .statis .info-block div.s-employees {
    fill: #2a3a92;
    width: 100%;
    border-left: 1px solid #2a3a92;
    height: 40px;
}

.statis .info-block svg.sales, .statis .info-block div.orders {
  fill: #1d75b8;
  width: 100%;
  border-right: 1px solid #1d75b8;
  height: 40px;
}

.statis .info-block svg.vendors, .statis .info-block div.quotations {
  fill: #ff5d6f;
  width: 100%;
  border-right: 1px solid #ff5d6f;
  height: 40px;
}

.statis .info-block div.trainings, .statis .info-block svg.payments {
    fill: #ffb36b;
    width: 100%;
    border-right: 1px solid #ffb36b;
    height: 40px;
}

.statis .info-block div.users, .statis .info-block svg.delivery {
  fill: #00cc9e;
  width: 100%;
  border-right: 1px solid #00cc9e;
  height: 40px;
}

.statis .info-block div.cash, .statis .info-block svg.statement {
  fill: #bc80ef;
  width: 100%;
  border-right: 1px solid #bc80ef;
  height: 40px;
}

.statis .info-block label {
  font-size: 18px;
  font-weight: bold;
}
.statis .info-block p {
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-top: 10px;
}

.statis .bcrumb-block {
    position: relative;
    background-color: #FFF;
    padding: 0px;
    border-radius: 10px;
    margin-top: 20px;
}
.statis .grid-block,  .statis .back-block {
    position: relative;
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.breadcrumb {
    background-color: #5c5555;
    margin-bottom: 0;
}
.statis .bcrumb-block .breadcrumb span {
    color: white;
}
.statis .c-profile  input[type=submit].back {
    margin-top: 20px;
    background-color: #c7c612;
    border: 1px solid #6c6c6f;
    width: auto;
    color: #6c6c6f;
}

/* Start Footer */

footer {
  margin-top: 40px;
  width: 100%;
}

footer .copyright {
  color: #a1a1a1;
  font-size: 12px;
}
/* End Footer */

/* Start Scroll To Top */
.scroll-to-top {
    padding: 10px 3px;
    background: #178dd2;
    color: #fff;
    box-shadow: 0px 0px 5px #a7a7a7;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 25px;
    text-decoration: none;
    display: none;
    cursor: pointer;
    text-align: center;
}

.scroll-to-top:hover{
    background: #49bbeb;
}
/* End Scroll To Top */

/* Start main menu */
.main-menu {
    position: fixed;
    display: block;
    height: 100%;
    width: 200px;
    top: 50px;
    left: -230px;
    z-index: 1000;
    background-color: #343131;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-menu .nlist {
  padding-left: 0 !important
}

.main-menu .nlist a {
  display: block;
  padding: 10px;
  color: #9fd7f8;
  fill: #9fd7f8;
}

.main-menu .nlist a i {
  padding-right: 20px;
}

.main-menu .nlist a svg {
  padding-right: 20px;
  height: 25px;
}

.main-menu .nlist a:hover, .main-menu .nlist a.active {
  color: #fff;
  fill: #fff;
}
    .main-menu .nlist > ul > li > a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        color: #999;
    }
.main-menu .avatar {
  width: 90px;
  margin: auto;
  margin-bottom: 30px;
}

.main-menu .avatar img {
  border-radius: 50%;
}

.main-menu .avatar p {
  color: #fff;
}

.menu-bg {
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0.6;
  display: none;
  position: fixed;
}
/* End main menu */

/* Start Login Form */
.login-bg {
  background-color: #f0f5f7;
}

#login .log-space {
  margin: 100px auto;
  background: #FFF;
  border-radius: 25px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 360px;
}

#login h4 {
    color: #1ba8e5;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

#login a {
  font-size: 14px;
  display: block;
  padding-bottom: 10px !important;
}

#login a:hover {
  text-decoration: underline !important;
}

#login button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#login .form-check label {
  margin-left: 20px;
}
/* End Login Form */

table tbody td, table tbody th {
  font-size: 14px;
}

.message-block .row {
  height: 500px;
}

.message-block h1 {
  font-size: 160px;
}

.message-block p {
  font-size: 12px;
}


.rd-stemType input {
    padding-left: 0px;
    margin-left:5px;
    margin-top: 5px;
    float: left;
}

.rd-stemType label {
padding-left: 5px;
    float: left;
    text-align: left;
}


.statis .c-result {
    position: relative;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #6c6c6f;
    border-radius: 10px;
    margin-top: 20px;
    margin-left:10px;
    width: 75%;
    float:right;
    overflow:hidden;
}
    .statis .c-result .result {
        font-size: 14px;
    }

.statis .c-result .result span {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #6c6c6f;
    border: 1px solid #6c6c6f;
}

    .table thead th,th {
        vertical-align: central;
        border: 1px solid #6c6c6f;
        background-color: #FFF;
        text-align: center;
    }


.statis .c-view {
    position: relative;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #6c6c6f;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
    width: 100%;
    float: left;
    overflow: hidden;
}

    .statis .c-view .result {
        font-size: 14px;
        width: 100%;
        overflow: auto;
    }

        .statis .c-view .result textarea {
            font-weight: bold;
            display: inline-block;
            margin-top: 5px;
            width: 100%;
            height: 290px;
            line-height: 30px;
            overflow: auto;
        }

.statis .process {
    position: relative;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #6c6c6f;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
    width: 90%;
    float: left;
    overflow: hidden;
}

    .statis .process .btn {
        position: relative;
        background-color: #FFF;
        padding: 5px;
        border-radius: 10px;
        margin-top: 5px;
        width: 20%;
        float: left;
        overflow: hidden;
    }

    .statis .process input[type=submit].back {
        background-color: #c7c612;
        border: 1px solid #6c6c6f;
        width: 100px;
        color: #6c6c6f;
    }

    .statis .process .result {
        font-size: 14px;
        width: 40%;
        float: left;
        overflow: hidden;
    }

        .statis .process .result textarea {
            font-weight: bold;
            display: inline-block;
            margin-top: 5px;
            width: 100%;
            height: 100px;
            line-height: 30px;
            overflow: auto;
        }

    .statis .process .isriResult {
        font-size: 14px;
        width: 40%;
        float: right;
    }

        .statis .process .isriResult textarea {
            font-weight: bold;
            display: inline-block;
            margin-top: 5px;
            width: 100%;
            height: 100px;
            line-height: 30px;
            overflow: auto;
        }


.statis .detect {
    position: relative;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #6c6c6f;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
    width: 75%;
    float: left;
    overflow: hidden;
}

    .statis .detect .result {
        font-size: 14px;
        width: 50%;
        float: left;
        overflow: hidden;
    }

        .statis .detect .result textarea {
            font-weight: bold;
            display: inline-block;
            margin-top: 5px;
            width: 100%;
            height: 100px;
            line-height: 30px;
            overflow: auto;
        }

        .statis .detect .result .box {
            border: black 1px solid;
            BACKGROUND-COLOR: White;
            width: 100%;
            overflow: hidden;
            height: 100px;
            margin-top: 5px;
        }

        .statis .detect .result span {
            font-weight: bold;
            display: inline-block;
            width: 100%;
            overflow: auto;
            height: 100px;
            margin-top: 5px;
            padding-right: 0px;
            line-height: 30px;
        }
.statis .lbl-result-msg {
    position: relative;
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #6c6c6f;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
    width: 75%;
    float: right;
    overflow: hidden;
}

    .statis .lbl-result-msg .result .result-lbl {
        font-weight: 100;
        display: inline-block;
        width: 100%;
        overflow: auto;
        height: 20px;
        padding-right: 5px;
        line-height: 10px;
    }
    .statis .lbl-result-msg .result .highlight {
        font-weight: 100;
        display: inline-block;
        width: 100%;
        overflow: auto;
        height: 20px;
        padding-right: 5px;
        line-height: 10px;
        text-decoration: underline;
        color: #ff0000;
        font-style: italic
    }